/*.header {
    border-bottom: 5px solid #7c9eb2;
}*/

/* Colors:
    Dark Blue: #1f5673; 31,86,115
    Light Blue: #7c9eb2; 124,158,178
    Red: #984447; 152,68,71
    Green: #436436; 67,100,54
    Yellow: #fcffcc; 252,255,204 OR eef670
    Gray: #667375; 41,49,50
*/


a {
  color: blue;
  font-size: 125%;
}

h1 {
    font-size: 300%;
    color: red;
}

h2 {
    font-size: 250%;
	color: hotpink;
}

h3 {
    font-size: 200%;
    color: green;
}

p {
    font-size: 125%;
    color: #667375;
}