<!DOCTYPE html>
{% extends 'pages/header-footer.html' %}


{% block content %}

<div class="spacer"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
			<h2>Scoring:</h2>
			<p>Points are awarded for each correct athlete guess, with extra points for guessing the correct athlete and place. You receive 5 points for every correct athlete in the wrong place, 10 points for one correct athlete in the correct place, 25 points for two correct athletes in the correct place, and 50 points for guessing a sport outcome perfectly. 
			<h2>Prizes:</h2>
			<p><b>First Place:</b> Your name engraved on the champion trophy, a first place medal, and a mystery prize!<br>
			<b>Second Place:</b> A second place medal and a mystery prize of lesser value than first place!<br>
			<b>Third Place:</b> A third place medal <br>
			<b>Last Place:</b> A mystery prize! You must submit three answers for every sport to qualify for biggest loser.
			<h2>Past winners:</h2>
			<p><b><u>Sochi 2018</u></b><br>
			<b>First:</b> Lauren<br>
			<b>Second:</b> Sean<br>
			<b>Third:</b> Julia<br>
			<b>Biggest loser:</b> MK<br>
			<p><b><u>Rio 2016</u></b><br>
			<b>First:</b> Tom<br>
			<b>Second:</b> Lauren<br>
			<b>Third:</b> Julia<br>
        </div>
		<div class="col-sm-6">
		<img class="img-responsive" src="/media/flag.png">
		</div>
    </div>
</div>
{% endblock %}

