<!DOCTYPE html>
{% extends 'pages/header-footer.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row center">
        <h3>All Sports</h3>
		<h2>Sports lock at 12:01 AM CST on the day listed.</h2>
		<p>Icons courtesy of MK</p>
    </div>
</div>
<div class="container-fluid">
    <div class="row center">
        {% for open_sport in open_sport %}
        <div class="col-sm-3">
			<a href="/sports/detail/{{open_sport.slug}}"><img class="img-responsive center" src="/media/{{open_sport.menu_image}}"></a>
			<h4>{{open_sport.sport_name}}</h4>
			<a class="menu" href="#" onclick="window.open('/user/guess/{{open_sport.slug}}', 'newwindow', 'width=300, height=400'); return false;">Click here to change your guesses</a>
			<p>Locks on {{open_sport.lock_date}}</p>			
				{% for guess_entered in guess_entered %}
					{% if guess_entered.sport.pk is open_sport.pk %}
						<h4>&#9989</h4> 
					{% else %}

					{% endif %}	
				{% endfor %}
		</div>
        {% endfor %}
		{% for closed_sport in closed_sport %}
        <div class="col-sm-3">
			<a href="/sports/detail/{{closed_sport.slug}}"><img style="opacity:0.3" class="img-responsive center locked" src="/media/{{closed_sport.menu_image}}"></a>
			<h4>{{closed_sport.sport_name}}</h4>
            <a class="menu" href="/user/guesses/all/{{closed_sport.slug}}">Click here to view all user's guesses</a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}