<!DOCTYPE html>
{% extends 'pages/header-footer.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row center">
        <h1>{{sport.sport_name}}</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
		{% if sport.locked %}
		    <h2>Winners</h2>
            <h3>Gold winner: {{sport.gold}}</h3>
            <h3>Silver winner: {{sport.silver}}</h3>
            <h3>Bronze winner: {{sport.bronze}}</h3>
			
			<h2>Your Guesses</h2>
			{% for guesses in guesses %}
            <h3>Gold winner: {{guesses.gold}}</h3>
            <h3>Silver winner: {{guesses.silver}}</h3>
            <h3>Bronze winner: {{guesses.bronze}}</h3>
			{% endfor %}
            <a href="/user/guesses/all/{{sport.slug}}/">View all guesses</a>
			
			<h2>Your Points</h2>
			{% for guesses in guesses %}
			<h3>{{guesses.score}}</h3>
			{% endfor %}
		
		{% else %}
		    <h2>Your Guesses</h2>
			{% for guesses in guesses %}
            <h3>Gold winner: {{guesses.gold}}</h3>
            <h3>Silver winner: {{guesses.silver}}</h3>
            <h3>Bronze winner: {{guesses.bronze}}</h3>
			{% endfor %}
            <a href="#" onclick="window.open('/user/guess/{{sport.slug}}', 'newwindow', 'width=300, height=400'); return false;">Click here to change your guesses</a>	
        {% endif %}
		</div>
        <div class="col-sm-6">
            {% for images in images %}
                <img class="img-responsive" src="/media/{{images.image}}" alt="{{images.alt}}">
                <!--<p class="subscript">Provided under creative commons license by <a href="{{images.image_source}}" class="subscript">{{images.image_attribute}}</a>.</p>-->
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}